# Temporal files
###########################
*~

# Ipython notebook temporal files
##########################
.ipynb_checkpoints/

# Outputs
##########################
*.trc
*traces*
*.pck
*.pk
*.log
*outputs/
*out/
*nohup.out

# Files to monitor parallel executions
######################################
*.workers*
*monitor.txt
.experiments.log

# Others
##########################
*.metadata/
src_cpp/
*.data
*.RData
*.Rhistory
*.lprof
*.tar.gz
Rplots.pdf


